<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^store$ media.php?module=store [L]
RewriteRule ^lupa-password$ media.php?module=lupa-password [L]
RewriteRule ^profil$ media.php?module=profil [L]
RewriteRule ^laporan$ media.php?module=laporan [L]
RewriteRule ^sitemap$ media.php?module=sitemap [L]
RewriteRule ^syarat$ media.php?module=syarat [L]
RewriteRule ^feedback$ media.php?module=feedback [L]
RewriteRule ^galery$ media.php?module=galery [L]
RewriteRule ^overview$ media.php?module=overview [L]
RewriteRule ^kontak$ media.php?module=kontak [L]
RewriteRule ^daftar_member$ media.php?module=daftar_member [L]
RewriteRule ^daftarpremium$ media.php?module=daftarpremium [L]
RewriteRule ^inquery_more$ media.php?module=inquery_more [L]
RewriteRule ^lupa$ media.php?module=lupa [L]
RewriteRule ^berita$ media.php?module=berita [L]
RewriteRule ^pembayaran$ media.php?module=pembayaran [L]
RewriteRule ^detail-produk$ media.php?module=detail-produk [L]
RewriteRule ^login$ media.php?module=login [L]
RewriteRule ^news$ news.php [L]
RewriteRule ^news2$ store.php [L]
RewriteRule ^daftar$ media.php?module=daftar [L]
RewriteRule ^buka_lapak$ media.php?module=buka_lapak [L]
RewriteRule ^semua$ media.php?module=semua [L]
RewriteRule ^peta$ petadinamis.php [L]
RewriteRule ^premium_member$ premium_member.php [L]
RewriteRule ^kategori-(.*)\.html$ media.php?module=detailkategori&id=$1 [L]
RewriteRule ^peta-(.*)\.html$ media.php?module=peta&id=$1 [L]
RewriteRule ^gantiketerangan-(.*)\.html$ media.php?module=detailketerangan&id=$1 [L]
RewriteRule ^profilpenjual-(.*)\.html$ media.php?module=profilpenjual&id=$1 [L]
RewriteRule ^hasil-pencarian$ media.php?module=hasil-pencarian [L]
RewriteRule ^produk-(.*)\.html$ media.php?module=detailproduk&id=$1 [L]
RewriteRule ^editproduk-(.*)\.html$ media.php?module=detailprodukedit&id=$1 [L]
RewriteRule ^laporkan-(.*)\.html$ media.php?module=laporkan&id=$1 [L]
RewriteRule ^profilseller-(.*)\.html$ media.php?module=profilseller&id=$1 [L]
RewriteRule ^semua-hot$ media.php?module=semua-hot [L]
RewriteRule ^iklanpenjual-(.*)\.html$ media.php?module=iklanpenjual [L]
RewriteRule ^lokasi-penjual$ lokasi-penjual.php [L]
RewriteRule ^daftar_blacklist$ media.php?module=daftar_blacklist [L]
RewriteRule ^konfirmasi$ media.php?module=konfirmasi [L]
RewriteRule ^profil_perusahaan$ media.php?module=profil_perusahaan [L]
RewriteRule ^kategori-(.*)\.html$ media.php?module=detailkategori&id=$1 [L]
RewriteRule ^editiklan-(.*)\.html$ media.php?module=editiklan&id=$1 [L]
</IfModule>

Options All -Indexes
